VITE_APPWRITE_URL="<Your-APPWRITE-URL>"
VITE_APPWRITE_PROJECT_ID="<Your-APPWRITE-PROJECT-ID>"
VITE_APPWRITE_DATABASE_ID="<Your-APPWRITE-DATABASE-ID>"
VITE_APPWRITE_COLLECTION_ID="<Your-APPWRITE-COLLECTION-ID>"
VITE_APPWRITE_BUCKET_ID="<Your-APPWRITE-BUCKET-ID>"
